@charset "utf-8";

:root {
    --point-color: #fabe00;
    --defalt-dark-color: #333;

    /* font notosans */
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

em {
    font-style: normal;
    margin-left: 15px;
}

section:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: no-repeat center / auto 100%;
}

/* font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/************** header 영역 *************/
header {
    width: 100vw;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
}

#nav {
    width: 100%;
    height: inherit;
}

#nav.bright {
    background: #fff;
    color: #000;
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
    transition: all .2s ease-in-out;
}

#nav.bright .main_menu li a {
    color: #000;
    transition: all .2s ease;
}

#nav.bright .main_menu li a:hover {
    color: var(--point-color);
}

/* #nav.bright .brand_logo {
    background: url(../imgs/tble_logo_dark.svg) no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    left: 0;
} */

nav {
    width: 1200px;
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav .iqr {
    display: none;
}


/* .brand_logo {
    width: 196px;
    height: 52px;
    background: url(../imgs/tble_logo.svg) no-repeat;
    position: absolute;
    border: 2px solid purple;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
} */

.main_menu ul {
    display: flex;
    margin: 0;
}

.main_menu ul li a {
    color: #fff;
    font-size: 20px;
    padding: 32px;
    margin: 4px;
    display: flex;
    cursor: pointer;
    transition: all .1s ease;
}

.main_menu ul li a:hover {
    color: var(--point-color);
}

.main_menu ul li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

.contents {
    width: 1200px;
    margin: 0 auto;
}






/************** 메인 비주얼 영역 **************/
#main_visual {
    height: 1000px;
    background: url('../imgs/main_visual.png') no-repeat center / auto 100%;
}

.visual_contents {
    display: flex;
    justify-content: space-between;
    height: 1000px;
    align-items: center;
    position: relative;
}

.visual_title {
    color: #fff;
    font-size: 80px;
    font-size: 4.8vw;
    font-family: 'GmarketSansMedium';
    line-height: 1.3;
    text-shadow: 5px 5px 5px rgb(0 0 0 / 60%);
}

.visual_title strong {
    display: block;
}

.visual_title span {
    color: var(--point-color);
}

.visual_title p {
    font-size: 1.5vw;
    font-family: 'Noto Sans KR', sans-serif;
}

.visual_image {
    position: absolute;
    object-fit: cover;
    right: -302px;
    bottom: -5px;
}

.visual_btn {
    width: 374px;
    height: 93px;
    border: 2px solid var(--point-color);
    color: var(--point-color);
    font-size: 40px;
    text-align: center;
    line-height: 93px;
    cursor: pointer;
    margin-top: 45px;
}

.visual_btn img {
    margin-left: 35px;
    transition: all .3s ease-in-out;
}

.visual_btn:hover img {
    transform: translateX(15px);
}


/************** 프로모션 영역 **************/
section#promotion {
    height: 1050px;
    padding: 0;
    padding-bottom: 120px;
}

#promotion {
    background: #f3f3f3;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.promotion_title {
    margin-top: 50px;
}

.pro_logo {
    position: absolute;
    width: 800px;
    opacity: 0.1;
    right: -300px;
    bottom: 282px;
    transform: rotate(90deg);
}

/* #promotion:before {
    content: '';
    width: 100%;
    height: auto;
    background: url(../imgs/tble_logo.png) no-repeat;
    z-index: 2;
} */

#promotion h3 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 3px;
    margin-top: 55px;
}

#promotion h3 span {
    color: var(--point-color);
}

.pro_cards {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    justify-content: space-between;
    align-items: flex-end;

}

.pro_cards:first-child .pro_card:first-child {
    margin-left: 110px;
}

.pro_cards:first-child .card_second {
    margin-right: 110px;
}

.pro_cards:nth-child(2) .card_one {
    margin-left: 110px;
}

.pro_cards:nth-child(2) .card_two {
    margin-right: 110px;
}

.pr_swiper .swiper-slide {
    margin-top: 120px;
}

.pro_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    /* background: #2b2b2b; */
    border-radius: 20px;
    box-sizing: border-box;
}

.pro_txt {
    color: #fff;
    text-align: left;
}

.pro_title {
    background: #f3c136;
    width: 120px;
    height: 42px;
    line-height: 42px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.pro_txt span {
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: var(--font-weight-light);
}

.pro_txt p {
    font-size: 24px;
    margin: 8px 0 50px;
    font-weight: bold;
    line-height: 1.3;
}

.or_txt {
    font-size: 100px;
    font-weight: bold;
    font-family: 'GmarketSansMedium';
    color: #bcbcbc;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pr_swiper {
    height: 650px !important;
}

.pr_swiper .swiper-slide {
    margin-top: 0;
}

.pr-pagination .swiper-pagination-bullet {
    border-color: var(--point-color) !important;
    color: var(--point-color) !important;
}

.pr-pagination.swiper-pagination {
    top: 48px !important;
}

/************** tble point 영역 **************/
#point {
    width: 100%;
    height: 1240px;
    position: relative;
}

#point:before {
    background: url(../imgs/section_tble_point.jpg) no-repeat center / auto 100%;
}


/************* 분석 시스템 영역 *************/
#system {
    width: 100%;
    height: 1240px;
    position: relative;
}

#system:before {
    background: url(../imgs/section_system.jpg) no-repeat center / auto 100%;
}

/************* 관리 영역 *************/
#management {
    width: 100%;
    height: 750px;
    position: relative;
}

#management:before {
    background: url(../imgs/section_management.jpg) no-repeat center / auto 100%;
}

/************** 함께성장해요 영역 **************/
#growth {
    width: 100%;
    height: 900px;
    position: relative;
}

#growth:before {
    background: url(../imgs/section_growth.jpg) no-repeat center / auto 100%;
}

/* ****************** campaign ****************** */

#campaign {
    display: flex;
    align-items: center;
    height: 1000px;
}

.campaign_con {
    width: 1200px;
    margin: 0 auto;
    line-height: 1.3;
}

.campaign_con h3 {
    font-size: 45px;
    font-weight: lighter;
    letter-spacing: -1px;
    color: #3b3b3b;
    margin-bottom: 30px;
}

.campaign_con h3 strong:first-child {
    color: #fabe00;
}

.campaign_con h3 strong {
    color: #000;
}

.campaign_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.more_btn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.campaing_more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.campaing_more i {
    margin-left: 10px;
}

.campaign_cards {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.campaign_card {
    width: 285px;
}

.campaign_card img {
    width: 100%;
    height: 285px;
}

.campaign_card strong {
    margin-bottom: 8px;
    display: inline-block;
    font-size: 18px;
}

.campaign_card span {
    border: 1px solid gray;
    padding: 3px 10px;
    border-radius: 20px;
    margin: 10px 0 25px;
    display: inline-block;
}

.campaign_card em {
    font-size: 13px;
    margin-top: 40px;
    margin-left: 0;
}



.cam_sub_tit {
    color: gray;
}

.cam_sub_tit strong {
    position: relative;
    color: #000;
    text-overflow: ellipsis;
    width: 100%;
}

.cam_sub_tit .fir {
    color: gray;
}

.campaign_card em b {
    color: #fabe00;
}

.campaign_cards .slick-slide {
    margin: 10px;

}

.campaign_cards .slick-dots {
    bottom: -66px;
}

.campaign_cards .slick-dots li {
    margin: 0;
}


/************** 마케팅 진행 순서 영역 **************/

#mkt_order {
    width: 100%;
    height: 900px;
    position: relative;
}

#mkt_order:before {
    background: url(../imgs/section_mkt_order.jpg) no-repeat center / auto 100%;
}


/* ****************** review ****************** */

#review {
    background: #fff;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
}

.main_title {
    margin-top: 50px;
}



/* custom  */

/* Default slide */
#review .center-slider .slick-slide {
    background-color: #fff;
    color: #FFF;
    height: 200px;
    margin: 30px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    width: 400px;
    height: 480px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    position: relative;
}


#review .center-slider .slick-slide,
#review .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: scale(0.75, 0.75);
    transition: all 0.4s ease-in-out;
    opacity: .5;
}

#review .center-slider .slick-center,
#review .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="1"])+.slick-cloned[aria-hidden="true"] {
    transform: scale(0.95);
    background-color: #fff !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
}


.slick-slide.slick-active {
    width: 100%;
}

#review .slick-next,
.slick-prev {
    z-index: 5;
}

#review .slick-next {
    right: -11px;
}

#review .slick-prev {
    left: -13px;
    display: block !important;
}

#review .slick-next:before,
.slick-prev:before {
    color: #000;
    font-size: 2vw !important;
}

#review .slick-next:before,
.slick-prev:before {
    color: #000 !important;
    font-size: 2vw;

}

.review_box {
    width: 385px;
    height: 680px;
    text-align: center;
    display: block !important;
    margin: 0 auto !important;
    justify-content: flex-start;
    background: #f3f3f3;
    border-radius: 20px !important;
    width: 100% !important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

#review .slick-slide img {
    margin: unset;
}

.review_img {
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

.review_img img {
    width: 100%;
}

.review_con {
    color: #333;
    padding: 20px;
    font-size: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.rev_sns {
    font-size: 1vw;
    font-family: var(--font-familly-gmarket);
    font-weight: bold;
    background: var(--point-color);
    padding: 8px 30px;
    border-radius: 30px;
}

.review_con p {
    padding: 0;
    margin: 15px 0 5px;
}

.rev_profile {
    width: 100%;
    text-align: center;
    margin: 20px 0 0;

}

.rev_profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#review .slick-slider {
    height: 75vh;

}

.slick-slider .slick-track,
.slick-slider .slick-list {
    display: flex;
    align-items: center;
    height: 75vh;


}

#review .slick-slide img {
    margin: 0 auto;
}

.rev_profile em {
    font-size: 20px;
}

#review .center-slider .slick-slide {
    box-sizing: border-box;
}


/************** 파트너사 영역 **************/

#partner {
    width: 100%;
    height: 1180px;
    position: relative;
}

#partner:before {
    background: url(../imgs/section_partner.jpg) no-repeat center / auto 100%;
}

#partner .partner_img {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-25%)
}



/************** 광고 문의 신청하기 영역 **************/

#contact {
    width: 100%;
    height: 1180px;
    position: relative;
}

#contact:before {
    background: url(../imgs/section_contact.jpg) no-repeat center / auto;
}

.form {
    position: absolute;
    z-index: 2;
    width: 1000px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    padding: 45px;
}

.form form {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

form input {
    display: flex;
    height: 96px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 20px 0;
    border: none;
    outline: none;
    text-indent: 20px;
    padding: 0;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.last_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

form input[type=checkbox] {
    height: 25px;
    width: 25px;
    font-size: 28px;
}

form input#numner {
    margin-bottom: 30px;
}

form em {
    font-size: 28px;
}

form input::placeholder {
    font-size: 40px;
    color: #000;
}

.contact_btn {
    display: block;
    margin: 0 auto;
    width: 374px;
    justify-content: center;
    margin-top: 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

.contact_btn span {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 374px;
    height: 93px;
    background: #fff;
    border: 2px solid var(--point-color);
    font-size: 40px;
    color: var(--point-color);
    text-align: center;
    line-height: 93px;
    cursor: pointer;
    padding-right: 50px;

}

.contact_btn img {
    width: 53px;
    height: 17px;
    position: absolute;
    right: 0;
    transform: translate(-80%, -30%);
    top: 50%;
    transition: all .3s ease-in-out;
}


.contact_btn:hover img {
    transform: translate(-50%, -30%);

}



/* thankyou_message  */
.thankyou_message,
.footer_thankyou_message {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 40px;
    border-radius: 40px;
    display: none;
}

.footer_thankyou_message span,
.thankyou_message span {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer_thankyou_message p,
.thankyou_message p {
    font-size: 20px;
    padding-top: 20px;
}

/************** footer 영역 **************/

#footer {
    width: 100%;
    height: 140px;
    position: relative;
}

#footer:before {
    background: url(../imgs/footer.jpg) no-repeat center / auto 100%;
}

/****** floating_menu 영역 ******/
.floating_menu {
    position: fixed;
    z-index: 50;
    top: 50%;
    display: none;
    right: 20px;
    flex-direction: column;
    transition: all .2s ease-in;
}

.floating_menu.active {
    display: flex;
}

.floating_menu a {
    margin-bottom: 20px;
}

.last_input span {
    cursor: pointer;
    color: blue;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    html {
        box-sizing: border-box;
        width: 100%;
    }

    body {
        width: 100%;
        box-sizing: border-box;
    }

    #fullpage {
        display: none;
    }

    #main_wrapper {
        display: block;
    }

       /***** header 영영 *****/
       header {
        box-sizing: border-box;
        width: 100%;
        height: 60px;
    }

    #nav {
        padding: 10px  20px;
        height: 80px;
    }

    nav {
        width: 100%;
        height: 70px !important;
    }

    nav .iqr {
        display: none;
        float: right;
        width: 130px;
        height: 34px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .iqr:after {
        content: '';
        width: 130px;
        background: url(../imgs/mo/in_yellow.png) no-repeat center / auto 100%;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        z-index: 100;
        display: none;
        transition: all .2s ease-in;
    }


    nav .main_menu {
        display: none;
    }
/* 
    .brand_logo {
        width: 140px;
        height: 30px;
        display: block;
    } */

    /* .brand_logo.visible {
        background: url(../imgs/tble_logo_dark.svg) no-repeat;
        position: absolute;
        z-index: 200;
    } */


    /***** 메인 비주얼 영역 *****/
    #main_visual {
        height: 100vh;
        overflow: hidden;
        background: url('../imgs/mo/mo_main_visual.png') no-repeat 65% / auto 100%;
        position: relative;
    }

    .visual_contents {
        align-items: flex-start;
        width: 100%;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .visual_title {
        font-size: 11vw;
        text-align: center;
    }

    .visual_title strong {
        font-weight: normal;
    }

    .visual_title strong span {
        font-weight: bold;
    }

    .visual_title p {
        font-size: 3.5vw;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .visual_btn {
        width: 220px;
        height: 55px;
        font-size: 25px;
        line-height: 55px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .visual_btn img {
        margin-left: 20px;
    }

    .visual_image {
        right: 0;
        width: 100%;
        display: flex;
    }

    .visual_image img {
        width: 100%;
    }

    .visual_desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 127vh;
        padding-top: 19vh;
    }

    /***** 프로모션 영역 *****/
    section#promotion {
        height: 580px;
        padding-bottom: 0;
    }

    #promotion h3 {
        font-size: 30px;
        padding-bottom: 30px !important;
    }

    .promotion_title {
        width: 100%;
        padding: 0 10px;
    }

    .promotion_title img {
        width: 85%;
    }



    #promotion .swiper-pagination-clickable .swiper-pagination-bullet {
        padding: 8px 20px !important;
        margin-right: 10px !important;
    }

    .pr_swiper .swiper-slide {
        margin-top: 60px;
    }


    .pro_cards {
        height: 530px !important;
        justify-self: unset;
        align-items: unset !important;
        flex-wrap: nowrap;
    }

    .pro_card {
        height: 187px !important;
        flex-direction: column !important;
        overflow: hidden;
        position: relative;
    }

    .pro_card img {
        max-width: 100%;
        width: 185px;
    }


    .pro_card:first-child,
    .pro_card:nth-child(3) {
        margin-top: 60px;
    }

    .pro_cards:first-child .pro_card:first-child {
        margin-left: 120px;
    }

    .pro_cards:first-child .card_second {
        margin-right: 120px;
    }

    .pro_cards:nth-child(2) .card_one {
        margin-left: 120px;
    }

    .pro_cards:nth-child(2) .card_two {
        margin-right: 120px;
    }


    .or_txt {
        font-size: 40px;
        top: 30%;
        z-index: 20;
    }


    .pro_title {
        width: 95px;
        height: 30px;
        line-height: 30px;
    }

    .pro_title span {
        font-size: 18px;
    }

    .pro_txt {
        width: 60%;
        padding: 0 10px;
    }

    .pro_txt p {
        margin: 8px 0 20px;
        font-size: 18px;
    }

    .pro_img {
        width: 20%;
        margin-top: 15px;
        top: 0;
        left: 60%;
        position: absolute;
        z-index: 1;
    }

    .pro_img img {
        width: 50px;
    }

    .pro_logo {
        z-index: -1;
    }

    .pr-pagination.swiper-pagination {
        top: 36px !important;
    }

    .new-pagination.swiper-pagination-bullet {
        border: 2px solid ghostwhite;
        position: absolute;
        top: 0;
        left: 0;
    }

    .pr_swiper {
        height: unset !important;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        color: #fff !important;
    }




    /***** tble point 영역 *****/
    #point {
        width: 100%;
        height: 500px;
    }

    #point:before {
        background: url(../imgs/mo/mo_point.jpg) no-repeat center / auto 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
    }

    /***** 분석 시스템 영역 *****/

    #system {
        width: 100%;
        height: 430px;
    }

    #system:before {
        background: url(../imgs/mo/mo_analy_system.jpg) no-repeat center / auto 100%;
    }

    /***** 관리 영역 *****/
    #management {
        width: 100%;
        height: 265px;
    }

    #management:before {
        background: url(../imgs/mo/mo_management.jpg) no-repeat center / auto 100%;
    }

    /***** 함께성장해요 영역 *****/
    #growth {
        width: 100%;
        height: 320px;
    }

    #growth:before {
        background: url(../imgs/mo/mo_growth.jpg) no-repeat center / auto 100%;
    }

    /***** campaign 영역 *****/


    #campaign {
        box-sizing: border-box;
        width: 100%;
        height: 788px;
    }

    #campaign:after {
        display: none;
    }

    .campaign_con {
        width: 100%;
        padding: 0 15px;
    }

    .campaign_con h3 {
        font-size: 25px;
        line-height: 1.5;
        font-family: 'GmarketSansMedium';
    }

    .campaign_con h3 strong {
        font-size: 28px;
    }

    .campaign_card img {
        height: 270px;
    }

    .campaing_more {
        width: 228px;
    }

    .campaign_cards .slick-dots {
        bottom: -32px;
    }

    .more_btn {
        display: none;
        font-size: 12px;
        bottom: 45px;
        width: 200px;
        height: 29px;
    }

    /***** 마케팅 진행 순서 영역 *****/

    #mkt_order {
        width: 100%;
        height: 640px;
        position: relative;
    }

    #mkt_order:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background: url(../imgs/mo/mo_mkt_order.jpg) no-repeat center / auto 100%;
    }




    /***** review 영역 *****/
    #review {
        width: 100%;
    }

    .main_title.review_title {
        width: 100%;
        margin-top: 50px;
    }

    #review .contents {
        width: 100% !important;
    }

    #review .slick-next,
    .slick-prev {
        display: none !important;
    }

    .review_con {
        font-size: 4.5vw;
    }

    #campaign .slick-next,
    .slick-prev {
        display: none !important;
    }

    .review_box {
        height: 620px;
    }

    .rev_sns {
        font-size: 4.5vw;
    }

    #review .center-slider {
        width: 100%;
        box-sizing: border-box;
    }

    #review .center-slider .slick-slide {
        width: 100%;
    }

    /***** 파트너사 영역 *****/
    section#partner {
        background: #eee;
    }

    .mo_portner_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .mo_portner_img img {
        width: 80%;
        margin-top: 10px;
    }

    .main_title.partner_title {
        width: 100%;
    }

    #partner {
        height: auto;
    }

    .partner_img img {
        display: none;
    }

    .mo_parter_img {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;

    }

    .mo_parter_img img {
        width: 95%;
    }


    /***** 파트너사 영역 *****/
    section#partner {
        background: #eee;
        height: 900px;
    }

    #partner {
        height: auto;
    }

    #partner:before {
        height: 150px;
        z-index: 10;
        background: url(../imgs/mo/mo_parter_txt.png) no-repeat center / auto;
        background-size: 85%;
        margin-top: 20px;
    }

    .partner_img:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        top: 56px;
        height: 300px;
        background: url(../imgs/mo/mo_pa1.png) no-repeat center / auto 100%;
    }

    .partner_img:after {
        content: '';
        position: absolute;
        left: 0;
        top: -260px;
        width: 100%;
        height: 300px;
        background: url(../imgs/mo/mo_pa2.png) no-repeat center / auto 100%;
    }

    .partner_img img {
        display: none;
    }

    /***** 광고 문의 신청하기 영역 *****/

    #contact {
        width: 100%;
        height: 700px;
        position: relative;
        background: url(../imgs/mo/mo_contact.jpg) no-repeat center / auto 100%;
        box-sizing: border-box;
    }

    #contact:before {
        content: '';
        background: url(../imgs/mo/mo_contact_txt.png) no-repeat center;
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 10;
        height: 150px;
        background-size: 90%;
    }

    #contact .form {
        width: 90%;
        border-radius: 15px;
    }

    form input {
        width: 100%;
        height: 50px;
        font-size: 18px;
    }

    form input[type=checkbox] {
        height: 18px;
        width: 18px;
        font-size: 28px;
    }

    .form {
        width: 100%;
        padding: 10px;
        width: 100%;
        box-sizing: border-box !important;
    }


    form input::placeholder {
        font-size: 18px;
        color: #000;
    }

    form em {
        font-size: 14px;
        margin-left: 8px;
    }

    .contact_btn {
        margin: 20px 0 10px;
        width: 100%;
    }

    .contact_btn span {
        width: 190px;
        height: 55px;
        line-height: 55px;
        font-size: 25px;
        padding-right: 62px;
    }

    .contact_btn img {
        max-width: 100%;
        width: 30px;
        right: 60px;
    }

    .last_input span {
        font-size: 16px;
    }

    .footer_thankyou_message span,
    .thankyou_message span {
        font-size: 40px;
    }

    /***** footer 영역 *****/

    #footer {
        width: 100%;
        height: 148px;
        position: relative;
    }

    #footer:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background: url(../imgs/mo/mo_footer.jpg) no-repeat center / auto 100%;
    }

    /***** floating_menu 영역 *****/
    .floating_menu.active {
        display: none;
    }
}